/* .white-box {
    background-color: bisque;

    
}

.user-content img{
    width: 500px;
    height: 500px;
}

.user-content{
    margin-right: 200px;
}

.card{
    background-color: aquamarine;
    margin-right: 1000px

}

.container-perfil{
} */


