* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(1, 1, 1, 0.6)), url(..img/7BB.webp);
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.class__name{
    margin-right: -200px;
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}


.registro {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.registro h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.registro form {
    font-size: 20px;
}

.registro form .form-group {
    margin-bottom: 12px;
}

.registro form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}
